footer.main-footer
    .pull-right.hidden-xs 
        | <b>Version</b> 2.3.7
    strong
        | Copyright &copy; 2022
        a(href="#")  Labibah Raihanatul Salwa  
    | All rights reserved.
.control-sidebar-bg 